.link {
  display: inline-block;
  padding: 2px 10px;
  color: #212121;
  /* color: #fff; */
  font-size: 17px;

  position: relative;
}
.linkSympol {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(-8px, -50%, 0);

  color: #ee5586;
}
.link:focus .linkSympol,
.link:hover .linkSympol {
  transition: 0.15s;
  transform: translate3d(-4px, -50%, 0);
  /* color: rgb(0, 170, 0); */
  /* color: rgb(255, 187, 0); */
  color: #a5215e;
}
