.sectionPage {
  background-color: #fdd700;
  background-image: url(./motpath.svg);
  min-height: calc(100vh - 49px);
  padding: 20px 0;
}
.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.containerPadding {
  padding: 0 20px;
}
.titlePage {
  margin: 0 0 20px 0;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
